@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	background-color:#bdc3c7;
	}

section {
	width:100%;
	height:100%;
	position:relative;
}

h1 {
	text-align:center;padding-top:50px;
	font-family: 'Montserrat', sans-serif;
	font-size:xx-large;
	color:#7f8c8d;
	}

#top {
	height:100vh;
}	
	
#links {
	background-color:#efefef;
	height:1080px;
}
span.white {
	color:#efefef;
}

.center {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#bird-box, object {
	margin-top: 100px;
	max-width:500px;
	height:auto;
	margin-bottom:50px;
}

.st0{fill:none;stroke:#95a5a6;stroke-width:4;stroke-miterlimit:5;}
.st1{fill:none;stroke:#95a5a6;stroke-width:4;stroke-miterlimit:10;}

#bird_eye:hover {
	fill:#000000;
}

#bird_eye.selected {
	fill:#000000;
}

#bird_wing:hover{
	fill:#2980b9;
}

#bird_wing.selected{
	fill:#2980b9;
}

#bird_body:hover{
	fill:#3498db;
}

#bird_body.selected {
	fill:#3498db;
}

#bird_snout:hover{
	fill:#ff613a;
}

#bird_snout.selected {
	fill:#ff613a;
}

#bird_eye{
	stroke-dasharray:800;
	stroke-dashoffset:0;
	-o-animation: dash 6s linear forwards infinite;
	-webkit-animation: dash 6s linear forwards infinite;
	-moz-animation: dash 6s linear forwards infinite;
	animation: dash 6s linear forwards infinite;
}

#bird_snout{
	stroke-dasharray:800;
	stroke-dashoffset:0;
	-o-animation: dash 5s linear forwards infinite;
	-webkit-animation: dash 5s linear forwards infinite;
	-moz-animation: dash 5s linear forwards infinite;
	animation: dash 5s linear forwards infinite;
}

#bird_wing{
	stroke-dasharray:800;
	stroke-dashoffset:0;
	-o-animation: dash 4s linear forwards infinite;
	-webkit-animation: dash 4s linear forwards infinite;
	-moz-animation: dash 4s linear forwards infinite;
	animation: dash 4s linear forwards infinite;
}

#bird_body{
	stroke-dasharray:800;
	stroke-dashoffset:0;
	-o-animation: dash 4s linear forwards infinite;
	-webkit-animation: dash 4s linear forwards infinite;
	-moz-animation: dash 4s linear forwards infinite;
	animation: dash 4s linear forwards infinite;
}



@-moz-keyframes dash {
	from {
		stroke-dashoffset: 800;
	}
	to {
		stroke-dashoffset:0;
	}
}

@-o-keyframes dash {
	from {
		stroke-dashoffset: 800;
	}
	to {
		stroke-dashoffset:0;
	}
}

@-webkit-keyframes dash {
	from {
		stroke-dashoffset: 800;
	}
	to {
		stroke-dashoffset:0;
	}
}

@keyframes dash {
	from {
		stroke-dashoffset: 800;
	}
	to {
		stroke-dashoffset:0;
	}
}

.bottomMenu {
	padding-top:200px;
	max-width:600px;
	height:600px;
}


.square {
	width:250px;
	height:250px;
	background-color:#7f8c8d;
	display:inline-flex;
	transition: transform 0.25s ease;
	text-align:center;
	color:#efefef;
}

.square:hover {
	transform:scale(0.9);
}

#img1 {
	background-color:#3498db;
}

#img2 {
	background-color:#16a085;
}