@import url(https://fonts.googleapis.com/css?family=Cabin:600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1, h2, h3, h4, a {
	font-family: "Cabin", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
}

#header_wrap {
	width:100%;
	z-index:100;
	position:absolute;

	}

.header {
	margin-left:auto;
	margin-right:auto;
	max-width:1080px;
	height:100px;
	padding-left:100px;
	padding-right:100px;
}


.logo {
	height:50px;
	float:left;
	margin-top:50px;
}

.logo img {
	width:100%;
}


#menu-trigger {
	display:inline-block;
	background:none;
	width:50px;
	height:50px;
	border:solid #fff;
	float:right;
	margin:50px auto;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.strip {
	display:block;
	position:relative;
	width:18px;
	height:2px;
	margin:5px auto auto;
	background:#fff;
	top:-3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.about #menu-trigger {
		background-color:#fff;
	}
.about #menu-trigger .strip {
	background:rgba(115,115,115,1.00);
}

#menu-trigger:hover {
	background:#fff;
}

#menu-trigger:hover .strip {
	background:rgba(115,115,115,1.00);
}

#top-img {
	width:100%;
	margin:auto;
	left: 0;
	height:500px;
	background-color:#348899;
	top:0;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition:all 0.7s;
	-o-transition: all 0.7s;
	transition:all 0.7s;
	transform:translate(-100%,0);
	-webkit-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	z-index:-1;
	overflow:hidden;
}

#top-img h1 {
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:250px;
	font-size:2.6em;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition:all 0.7s;
	-o-transition: all 0.7s;
	transition:all 0.7s;
	transition-delay:0.5s;
	transform:translate(-100%,0);
	-webkit-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	z-index: 99;
}

#top-img h1 span {
	color:#343642;
}

#content {
	position:relative;
	background:#fff;
	max-width:1080px;
	height:auto;
	width:auto;
	margin-top:800px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:100px;
	overflow:hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	transition-delay:1s;
	z-index:99;
}

.grid-item, .grid-item-long {
	height:500px;
	float:left;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition: all 0.25s;
	transition:all 0.25s;
	overflow: hidden;
}

.grid-item {
	width:50%;
}

.grid-item-long {
	width:100%;
}

.image {
	display:block;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	object-fit: cover;
	background-color: #7f8c8d;
}

.overlay {
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition:transform 0.3s;
	transform:translate(-100%,0);
	width:100%;
    height:100%;
    background:rgba(255,255,255,1);
    position:absolute;
    top:0;
    left:0;
    text-align:center;
	vertical-align:middle;
	line-height:500px;
}


.grid-item a, .grid-item-long a {
	position: relative;
  float: left;
  margin-bottom: 5px;
  width: 100%;
  height:100%;
  overflow: hidden;
  font-size:24px;
}

.one {
	color:#348899;
}

.grid-item a:hover .overlay, .grid-item-long a:hover .overlay{
	transform:translate(0,0);
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition:transform 0.3s;
}

.about-me {
	height:auto!important;
}

.about {
	text-align: center;
}

#content .about {
	height:auto;
}

.portfolio {
	background: #e9e9eb!important;
	max-width: 1400px!important;
}

.about p, .about h1 {
	padding:25px;
	font-size: 1.1em;
	line-height: 1.5em;
}

.about p a {
	color:#000;
}

.about .image {
	max-width:1080px;
	margin-bottom:200px;
	overflow:hidden;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.about .featured-img {
	max-width: 1400px;
}

.defensie {
	background-image: url(../images/defensie/ORB_6394.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #343642!important;
}

.rendoportfolio {
	background-image: url(../images/rendoportfolio/cover.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #343642!important;
}

.elitedangerous {
	background-image: url(../images/elitedangerous/edcover.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #343642!important;
}

.break {
	max-width: 1400px;
	height:auto;
	margin:100px auto 200px;
	background:#343642;
	padding:100px;
}

.anim, .vid {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	margin-bottom: 0!important;
}

.anim {
	max-height: 400px;
}

.vid {
	width:100%;
}

.card {
	margin:100px auto 200px;
	max-width: 1400px;
	color:#1a1924;
	overflow: hidden;
}

.description-item {
	background:#fff;
	padding: 100px;
	overflow: hidden;
}

.desc-title {
	width:65%;
	float:left;
}

.desc-title h1 {
	font-size:36px;
	text-transform: uppercase;
	text-align: left;
	margin:auto auto 35px;
	width:100%;
	float:left;
	letter-spacing: 2px;
	padding:0;
}

.desc-title p {
	font-size:16px;
	text-align: left;
	line-height: 30px;
	padding:0;
	color:#8a8a8a;
}

.right {
	max-width:275px;
	float:left;
	height:100%;
	margin-left: 125px;
}

.desc {
	margin-bottom: 27px;
}

.desc span, .smll {
	font-family: "Cabin", sans-serif;
	height:auto;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 17px;
	display: block;
	text-align: left;
}

.smll {
	margin-bottom: 20px;
	text-align: center;
}

.break .smll {
	color:#fff;
}


.desc p {
	font-family: "Open Sans", sans-serif;
	height:auto;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 17px;
	text-align: left;
	padding:0;
}

footer {
	position:relative;
	bottom:0;
	width:100%;
	z-index:1;
	height:250px;
	background-color:#343642;
}

.social-foot {
	overflow: hidden;
	text-align: center;
	max-width:1080px;
	margin-left:auto;
	margin-right: auto;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
}

.social {
	color:#696b7c;
	display:inline-block;
	font-size: 2em;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

.social:not(:last-child) {
	margin-right: 25px;
}

footer p {
	color:#696b7c;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.social:hover {
	color:#fff;
}


.nav-overlay {

	 height: 100%;
	 width: 0;
	 position: fixed;
	 z-index: 100;
	 left: 0;
	 top: 0;
	 background-color: #fff;
	 overflow-x: hidden;
	 -webkit-transition: 0.5s;
 	-moz-transition:0.5s;
 	-ms-transition: 0.5s;
 	-o-transition: 0.5s;
	 transition: 0.5s;
}


.overlay-content {
	 position: relative;
	 top: 25%;
	 max-width: 700px;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
	 margin-top: 30px;
}


.nav-overlay a {
	 padding: 8px;
	 text-decoration: none;
	 font-size: 36px;
	 color: #348899;
	 display: block;
	 -webkit-transition: 0.2s;
 	-moz-transition: 0.2s;
 	-ms-transition: 0.2s;
 	-o-transition: 0.2s;
	 transition: 0.2s;
}


.nav-overlay a:hover, .overlay a:focus {
	 color: #fff;
	 background-color:#348899;
}


.closebtn {
	 position: absolute;
	 top: 20px;
	 right: 45px;
	 font-size: 60px !important;
}



@media screen and (max-height: 450px) {
	 .nav-overlay a {font-size: 20px}
	 .closebtn {
			 font-size: 40px !important;
			 top: 15px;
			 right: 35px;
	 }
}



@media screen and (max-width: 1080px){
	.grid-item, .grid-item-long {
	height:250px;
	float:left;
	clear:both;
	}

	.overlay {
		line-height:250px;
	}

	.grid-item {
		width:100%;
	}
}

@media screen and (max-width: 950px){
		.desc-title {
			width:100%;
			margin-bottom: 100px;
		}

		.right {
			max-width: none;
			width:100%;
			margin:0;
		}

		.desc span, .desc p {
			text-align: center;
		}

		.anim {
			width:100%;
		}

		.break {
			padding:25px;
		}
}

@media screen and (max-width: 520px){
	.header {
		padding-left:50px;
		padding-right:50px;
	}

	.logo img {
		height:50px;
	}


	#menu-trigger {
		margin-left:auto;
		margin-right:auto;
	}

}

@media screen and (max-width: 400px){
	.header {
		padding-left:25px;
		padding-right:25px;
	}

	div.description-item {
		padding: 25px;
	}

}
