@import url(https://fonts.googleapis.com/css?family=Oswald:400,300|Oxygen:400,300);



body#home {
	background-color:#000;
	background-image:url(images/bg.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
}

body#about {
	background: url(images/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#box {
	color:#fff;
	z-index:4;
	position:fixed;
	margin-top:15%;
	margin-bottom:auto;
	margin-left:50%;
	height:auto;
	width:600px;
	margin-right:50%;
	visibility:hidden;
}

#box.page2 {
	margin-top:10%;
	background-color:rgba(0,0,0,0.75);
	visibility:visible;
	padding:20px 20px 20px 20px;
}

h1, h2, .back {
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	text-shadow:2px 2px #000000;
	font-size:4.5em;
	font-weight:300;
	text-align:center;
}

.back, p {
	font-family: Oxygen, sans-serif;
	font-size:1em;
	visibility:visible!important;

}

p {
	margin-top:20px;
	line-height:1.5em;
	padding-right:20px;
	text-justify:auto;
}

h2 {
	margin-top:25px;
	font-size:1.5em!important;
}

a {
	color:#fff;
	text-decoration:none;
	transition:color 0.5s ease;
}

a:hover {
	color:#c0392b;
}

.big {
	font-weight:400;
}

#logo {
	height:200px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	visibility:visible!important;
}


.st1{fill:#FFFFFF;}

.st2{display:inline;}

@media only screen and (max-width: 1028px) {
    #box
     {
		 position:relative;
		 margin-top:50px;
		 width:100%;
        margin-left:auto;
		margin-right:auto;
    }
}